# Flask Configuration
FLASK_APP=run.py
FLASK_ENV=production
SECRET_KEY=your_super_secret_key_here

# Database Configuration (leave empty to fallback to local SQLite soc_sentinel.db)
# In production on Render, this is automatically injected by the PostgreSQL database service
DATABASE_URL=postgresql://user:password@localhost:5432/soc_sentinel_db

# Persistent Upload Storage Path (optional, fallback is project uploads/)
UPLOAD_FOLDER=app/static/uploads/logs

# GeoIP Location Database path
GEOLITE2_DB_PATH=GeoLite2-City.mmdb
